@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair_Display';
}

img {
    vertical-align: bottom;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

.title {
    font-size: 50px;
    margin-bottom: 18px;
    font-weight: 400;
}

/* header start */

.header__nav {
    padding: 25px 0;
}

.header__nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img {
    max-width: 170px;
    width: 100%;
}

.header__list {
    display: flex;
    column-gap: 40px;
}

.header__item {
    position: relative;
}

.header__link, .header__dropdown-link{
    font-size: 12px;
    color: #000;
    display: flex;
    align-items: center;
    gap: 4px;
    text-transform: uppercase;
    transition: .4s;
}

.header__link:hover,
.header__dropdown-link:hover {
    color: #41A28E;
}

.header__item:hover .header__dropdown {
    opacity: 1;
    z-index: 1;
}

.header__dropdown {
    position: absolute;
    top: 24px;
    z-index: -1;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    width: 160px;
    opacity: 0;
    transition: .4s;
}

.header__dropdown-link {
    padding: 12px 30px;
}

.header__dropdown-item:nth-of-type(2) {
    border-top: 1px solid #E5E5E5;;
    border-bottom: 1px solid #E5E5E5;;
}

.header__form {
    max-width: 212px;
    width: 100%;
    display: flex;
    gap: 4px;
}

.header__form-inp {
    padding: 6px 12px;
    border: 1px solid #41A28E;
    font-size: 14px;
    height: 28px;
    font-family: 'Roboto';
    max-width: 180px;
    width: 100%;
}

.header__form-inp::placeholder {
    color: #4B4848;
}

.header__form-btn {
    width: 28px;
    height: 28px;
    background: #41A28E;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
}

.header__content {
    min-height: 830px;
    background: url(../img/header/header.png) no-repeat center center / cover;
    display: flex;
    align-items: center;
}

.header__content-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__content-title {
    padding: 16px 60px;
    color: #fff;
    font-size: 50px;
    background: rgba(0, 0, 0, 0.7);
    font-weight: 400;
    margin-bottom: 30px;
}

.header__content-subtitle {
    margin-bottom: 50px;
    color: #fff;
    font-size: 22px;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.38);
}

.header__content-btn {
    max-width: 130px;
    width: 100%;
    padding: 22px 0;
    text-align: center;
    background: #fff;
    color: #000;
    font-size: 12px;
    transition: .4s;
}

.header__content-btn:hover {
    background: #41A28E;
    color: #fff;
}

/* header end */

/* fashion start */

.fashion {
    padding: 48px 0 72px;
}

.fashion__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 52px;
}

.fashion__card {
    max-width: 255px;
    width: 100%;
    border: 1px solid #41A28E;
    position: relative;
    overflow: hidden;
}

.fashion__card:hover .fashion__card-txt {
    bottom: 0;
}

.fashion__card-image {
    width: 100%;
}

.fashion__card-txt {
    position: absolute;
    bottom: -23%;
    text-align: center;
    width: 100%;
    background: rgba(75, 72, 72, 0.7);
    font-size: 25px;
    color: #fff;
    padding: 2px 0;
    transition: .4s;
}

.fashion__title {
    text-align: center;
}

.fashion__subtitle {
    text-align: center;
    max-width: 496px;
    width: 100%;
    margin: 0 auto;
}

/* fashion end */

/* project start */

.project {
    padding: 120px 0;
    background: url(../img/project/bg.png) no-repeat center center / cover;
}

.project__abovetitle {
    font-size: 20px;
    color: #fff;
}

.project__title {
    color: #fff;
}

.project__btn {
    display: inline-block;
    max-width: 190px;
    width: 100%;
    color: #000;
    padding: 23px 0;
    text-align: center;
    background: #fff;
    font-size: 12px;
    transition: .4s;
}

.project__btn:hover {
    background: #41A28E;
    color: #fff;
}

/* project end */

/* product start */

.product {
    padding: 50px 0;
}

.product__title {
    text-align: center;
}

.product__subtitle {
    text-align: center;
    max-width: 496px;
    width: 100%;
    margin: 0 auto 70px;
}

.product__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product__card {
    max-width: 255px;
    width: 100%;
}

.product__card-info {
    position: relative;
    margin-bottom: 43px;
    overflow: hidden;
}

.product__card-info:hover .product__card-menu {
    bottom: 0;
}

.product__card-image {
    width: 100%;
}

.product__card-menu {
    position: absolute;
    bottom: -17%;
    width: 100%;
    padding: 17px 20px;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.7);
    transition: .4s;
}

.product__card-add {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
}

.product__icons {
    display: flex;
    gap: 22px;
}

.product__card-name {
    font-size: 22px;
    margin-bottom: 6px;
    font-weight: 400;
}

.product__card-price {
    font-size: 18px;
    font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
}

.product__card_out,
.product__card_sale {
    position: relative;
}

.product__card_out::after,
.product__card_sale::after {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 18px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    background: #4B484B;
    color: #fff;
    font-family: "Roboto";
}

.product__card_out::after {
    content: 'OUT OF STOCK';
}

.product__card_sale::after {
    content: 'SALE';
}

.product__card-span {
    display: none;
}

.product__card_sale .product__card-span {
    display: unset;
    text-decoration: line-through;
    color: #666;
}

/* product end */

/* footer start */

.footer {
    background: #000;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 36px 0;
}

.footer__col {
    max-width: 255px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__col-title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: 400;
}

.footer__col-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer__col-link {
    color: #fff;
    font-family: "Roboto";
    font-size: 14px;
    display: flex;
    gap: 10px;
    transition: .4s;
}

.footer__col-link:hover {
    color: #41A28E;
}

.footer__col-form {
    display: flex;
    margin-bottom: 20px;
}

.footer__col-inp {
    max-width: 200px;
    width: 100%;
    padding: 14px 10px;
    font-family: "Roboto";
    border: 0;
}

.footer__col-btn {
    width: 55px;
    cursor: pointer;
    color: #fff;
    background: #41A28E;
    border: 0;
    font-family: "Roboto";
    font-size: 16px;
}

.footer__col-txt {
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
    font-family: "Roboto";
}

.footer__col-socials {
    display: flex;
    gap: 25px;
}

.footer__txt {
    text-align: center;
    padding: 40px 0;
    background: #121212;
    color: #666666;
    font-family: "Roboto";
}

/* footer end */